@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #1AAB86;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  background-color: #abecdd;
  color: var(--foreground);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
